@import "src/styles/colors";

.terminal {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: $dark-500;
  padding: .5rem;
  color: $light;
  cursor: text;

  p {
    margin: 0;
    line-height: 1.5rem;
  }

  &__command {
    width: 100%;

    p {
      display: inline;

      &:first-child {
        color: $green;
      }

      &:nth-child(2) {
        padding: 0 0 0 .75rem;

        &:focus {
          outline: 0 transparent;
        }
      }
    }
  }
}
