@import "src/styles/colors";

table {
  a {
    &,
    &:visited {
      color: $light !important;
    }
  }
}

.xp {
  &--title {
    color: $cyan;
  }

  // stylelint-disable-next-line
  a {
    // stylelint-disable-next-line
    &,
    &:visited {
      color: $blue;
    }
  }

  ul {
    padding-left: 0;
    list-style: none;

    li {
      margin: .5rem 0;
      display: flex;

      &::before {
        content: "\2022";
        color: $light;
        font-weight: bold;
        min-width: 1em;
      }
    }
  }
}
